@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
:root :where(body) {
	--bna-font-size: 18px;
	--bna-line-height: 21px;
	--bna-font-weight: 400;
	--width-1100-padding-right: 40px;
	--width-1100-padding-left: 40px;
	--width-991-padding-right: 25px;
	--width-991-padding-left: 25px;
}

a { color: var(--bna-button-background-color); }
a:hover { opacity: 0.6; }
button:hover { opacity: 0.6; }

/* Layout */
body.woocommerce-cart .woocommerce,
body.woocommerce-account .woocommerce,
body.woocommerce-checkout .woocommerce {
	max-width: 1160px;
	margin-top: 60px;
	font-family: Roboto;
	font-size: var(--bna-font-size);
	font-weight: var(--bna-font-weight);
	line-height: var(--bna-line-height);
	color: var(--bna-font-color);
}
.woocommerce-cart h1,
.woocommerce-account h1,
.woocommerce-checkout h1 {
	font-family: Roboto;
	font-size: 40px;
	font-weight: 700;
	color: var(--bna-font-color);
}
.woocommerce-account .woocommerce h2,
.woocommerce-account .woocommerce h3 {
	font-family: Roboto;
	font-style: normal;
	color: var(--bna-font-color);
}
.woocommerce-account .woocommerce form .required {
	color: var(--bna-font-color);
}
body.woocommerce-checkout .woocommerce form .form-row input.input-text,
body.woocommerce-account .woocommerce input[type="text"],
body.woocommerce-account .woocommerce input[type="tel"],
body.woocommerce-account .woocommerce input[type="email"],
body.woocommerce-account .woocommerce input.bna-input,
body.woocommerce-account .woocommerce input.bna-input,
body.woocommerce-checkout .woocommerce input[type="text"],
body.woocommerce-checkout .woocommerce input.bna-input {
	color: var(--bna-font-color);
	background: var(--bna-input-background-color);
	border: 1px solid var(--bna-line-color);
	width: 100%;
	border-radius: 2px;
	cursor: pointer;
}
.woocommerce-account .woocommerce a:focus {
	outline: none;
}
.woocommerce-cart .woocommerce a,
.woocommerce-account .woocommerce a:not(.wp-element-button),
.woocommerce-checkout .woocommerce a {
	text-decoration: none;
}
body.woocommerce-account .woocommerce .bna-button {
	background-color: var(--bna-button-background-color);
	border: 1px solid var(--bna-button-background-color);
	color: var(--bna-button-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	padding: 10px 40px;
	border-radius: 4px;
	width: 340px;
	max-width: 340px;
	display: block;
	text-align: center;
	box-shadow: none;
}
body.woocommerce-account .woocommerce a.button,
body.woocommerce-account .woocommerce button.button,
body.woocommerce-cart .woocommerce a.button,
body.woocommerce-cart .woocommerce button.button,
body.woocommerce-checkout .woocommerce a.button,
body.woocommerce-checkout .woocommerce button.button {
	background-color: var(--bna-button-background-color);
	border: 1px solid var(--bna-button-background-color);
	box-shadow: none;
}
body.woocommerce-account .woocommerce a.button:hover,
body.woocommerce-account .woocommerce button.button:hover,
body.woocommerce-cart .woocommerce a.button:hover,
body.woocommerce-cart .woocommerce button.button:hover,
body.woocommerce-checkout .woocommerce a.button:hover,
body.woocommerce-checkout .woocommerce button.button:hover {
	background-color: var(--bna-button-background-color);
	border: 1px solid var(--bna-button-background-color);
	opacity: 0.8;
	box-shadow: none;
}
body.woocommerce-account .woocommerce .woocommerce-button.button.pay,
body.woocommerce-account .woocommerce .woocommerce-button.button.view,
body.woocommerce-account .woocommerce .woocommerce-button.button.cancel {
	margin-top: 2px;
	margin-bottom: 2px;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
	float: left;
	width: 30%;
	margin-bottom: 60px;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-content {
	float: right;
	width: 65%;
	margin-bottom: 60px;
}
.woocommerce-account .woocommerce::after,
.woocommerce-account .woocommerce::before {
	content: none;
}
@media (max-width: 1110px) {
	.woocommerce-cart .woocommerce .has-global-padding,
	.woocommerce-account .woocommerce .has-global-padding,
	.woocommerce-checkout .woocommerce .has-global-padding {
		padding-right: var(--width-1100-padding-right);
		padding-left: var(--width-1100-padding-left);
	}
}
@media (max-width: 991px) {
	.woocommerce-cart .has-global-padding,
	.woocommerce-account .has-global-padding,
	.woocommerce-checkout .has-global-padding {
		padding-right: var(--width-991-padding-right);
		padding-left: var(--width-991-padding-left);
	}
	body.woocommerce-cart .woocommerce,
	body.woocommerce-account .woocommerce ,
	body.woocommerce-checkout .woocommerce {
		margin-top: 40px;
	}
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	.woocommerce-account .woocommerce .woocommerce-MyAccount-content {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	
}
.loading {
	display: none;
	position: absolute; 
	z-index: 3000; 
	background: url('../img/loading.gif') center, no-repeat;
	background-size: cover;
	top: 45%;
	left: 40%;
	width: 150px;
	height: 150px;
	font-size: 24px;
	text-align: center;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review select.bna-checkout-select-card {
	height: 42px;
	width: 100%;
	border-radius: 0px;
	border: 1px solid #CCC;
	background: #FFF;
}
/* checkout-radio */
.bna-checkout-radio {
	display:inline-block;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: #fff;
	border: 2px solid #646464;
	cursor:pointer;
	margin: 2px 0; 
	position: relative;
	vertical-align: middle;
	margin: auto 20px auto 20px;
}
.bna-checkout-radio.selected {
	border-color: #646464;
}
.bna-checkout-radio.selected:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	left: 2px;
	top: 2px;
	display: block;
	background: #646464;
}

/* Customize the label (the container) */
body.woocommerce-checkout .woocommerce form.checkout .bna-checkbox-container,
body.woocommerce-order-pay .woocommerce form.bna-form-pay .bna-checkbox-container {
	display: block;
	position: relative;
	padding-left: 55px;
	margin: 50px 0px 30px;
	cursor: pointer;
	font-size: var(--bna-font-size);
	font-weight: var(--bna-font-weight);
	line-height: var(--bna-line-height);
	user-select: none;
	text-transform: none;
	color: var(--bna-font-color);
	font-size: 16px;
}
/* Hide the browser's default checkbox */
body.woocommerce-checkout .woocommerce form.checkout .bna-checkbox-container input,
body.woocommerce-order-pay .woocommerce form.bna-form-pay .bna-checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
body.woocommerce-checkout .woocommerce form.checkout .checkmark,
body.woocommerce-order-pay .woocommerce form.bna-form-pay .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #FFF;
	border: 2px solid #CCC;
}
/* On mouse-over, add a grey background color */
body.woocommerce-checkout .woocommerce form.checkout .bna-checkbox-container:hover input ~ .checkmark,
body.woocommerce-order-pay .woocommerce form.bna-form-pay .bna-checkbox-container:hover input ~ .checkmark {
	border: 2px solid var(--bna-button-background-color);
}
/* When the checkbox is checked, add a blue background */
body.woocommerce-checkout .woocommerce form.checkout .bna-checkbox-container input:checked ~ .checkmark,
body.woocommerce-order-pay .woocommerce form.bna-form-pay .bna-checkbox-container input:checked ~ .checkmark {
	background-color: var(--bna-button-background-color);
	background-image: url('../img/check-mark.svg');
	background-size: 12px 14px;
	background-repeat: no-repeat;
	background-position: left 6px top 5px;
	border: 1px solid var(--bna-button-background-color);
}

/* Select2 */
.select2-container--default .select2-selection--single {
	height: 48px;
	border: 1px solid var(--bna-line-color);
	border-radius: 2px;
	background-color: var(--bna-input-background-color);
	outline: none !important;
	color: var(--bna-font-color);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: var(--bna-font-color);
	line-height: 46px;
	padding-left: 21px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	/*top: 12px;*/
	right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	transform: translateY(-50%);
	left: -3px;
	margin-left: 0;
	font-size: 16px;
	color: var(--bna-font-color);
	width: 15px;
	height: 15px;
	border: none;
	text-align: center;
	line-height: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
	content: url('../img/check-mark-6464.svg');
}
.woocommerce-checkout form#order_review #payment div.payment_box {
	position: unset !important; /* for the 'checkout/order-pay' page */
}
      
/* Navigation */
.woo-myaccount-customer {
	margin-bottom: 36px;
	height: 120px;
	display: flex;
	flex-direction: row;
}
.woo-myaccount-customer-photo-wrapper {
	flex: 0 0 120px;
	height: 100%;
	background: #F3F3F3;
	text-align: center;
}
.woo-myaccount-customer-photo {
	height: 60px !important;
	width: auto;
	object-fit: cover;
	margin-top: 30px;
}
.woo-myaccount-customer-data {
	flex: 0 1 auto;
	height: 100%;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}
.woo-myaccount-customer-data-name {
	overflow: hidden;
	padding-top: 20px;
	max-height: 48px;
}
.woo-myaccount-customer-data-email {
	padding-top: 10px;
}
.woo-myaccount-customer-data-logout {
	color: var(--bna-button-background-color);
	margin-top: auto;
}
.woo-myaccount-customer-data-logout a {
	color: var(--bna-button-background-color);
}
@media (max-width: 991.98px) {
	.woo-myaccount-customer-photo-wrapper {
		text-align: left;
		padding-left: 20px;
	}
}
.woo-myaccount-nav-li-img-wrapper {
	display: inline-block;
	padding: 11px 24px;
	text-align: center;
}
.woo-myaccount-nav-li-img {
	height: 36px !important;
	width: 50px;
	object-fit: contain;
}
.woo-myaccount-nav-li-a-wrapper {
	display: inline-block;
	line-height: 58px;
	vertical-align: bottom;
	overflow: hidden;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
	display: block;
	background-color: unset;
	margin: 0px;
	padding-left: 0px;
	height: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:first-child {
	border-top: 2px solid #CCCCCC;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: block;
	padding: 0px;
	border-bottom: 2px solid #CCCCCC;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(.is-active) {
	border-right: 2px solid #CCCCCC;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	color: var(--bna-font-color);
	text-decoration: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
	color: var(--bna-button-background-color);
	text-decoration: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
	color: var(--bna-button-background-color);
	text-decoration: none;
	border: none;
}

.woocommerce-account table.my_account_orders > thead tr th {
	color: var(--bna-font-color);
	font-size: 14px;
	font-weight: 600 !important;
	width: min-content;
	text-align: center;
}
.woocommerce-account table.my_account_orders > tbody tr td {
	color: var(--bna-font-color);
	font-size: 14px;
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
	.woocommerce-account .woocommerce-MyAccount-navigation {
		flex: 0 0 260px;
	}
	.woo-myaccount-customer {
		flex-direction: column;
		height: auto;
	}
	.woo-myaccount-customer-data-email {
	  padding-bottom: 10px;
	}
	.woo-myaccount-nav-li-img-wrapper {
		padding: 11px 14px;
	}
}
@media (max-width: 391px) {
	.woo-myaccount-customer {
		flex-direction: column;
		height: auto;
	}
	.woo-myaccount-customer-data-email {
	  padding-bottom: 10px;
	}
	.woo-myaccount-nav-li-img-wrapper {
		padding: 11px 14px;
	}
}

/* Woocommerce Info */
.woocommerce-info {
	border-color: var(--bna-button-background-color);
}
.woocommerce-info a.showcoupon,
.woocommerce-info span,
.woocommerce-info i {
	color: var(--bna-button-background-color);
}
.woocommerce-info a.showcoupon:hover {
	opacity: 0.6;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border-top-color: var(--bna-button-background-color);
}

/* Dashboard */
.woo-myaccount-dashboard-title {
	font-size: 32px;
	font-weight: 700;
	line-height: 46.88px;
}
.woo-myaccount-dashboard-subtitle {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding-top: 10px;
}
.woo-myaccount-dashboard-subtitle > span {
	font-style: italic;
}
.woo-myaccount-dashboard-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-around;
	margin-top: 60px;
}
.woo-myaccount-dashboard-item {
	border: 2px solid #F2F2F2;
	flex: 0 0 216px;
	text-align: center;
}
.woo-myaccount-dashboard-item-img-wrapp {
	padding-top: 30px;
}
.woo-myaccount-dashboard-item-link {
	padding: 35px 0px;
}
.woo-myaccount-dashboard-item-link > a {
	color: var(--bna-font-color);
}
@media (max-width: 991.98px) {
	.woo-myaccount-dashboard-content {
		gap: 25px;
		margin-top: 40px;
	}
	.woo-myaccount-dashboard-item {
	  flex: 0 0 196px;
	}
	.woo-myaccount-dashboard-item-link {
	  padding: 25px 0px;
	}	
}

/* Orders */
.woocommerce-orders-table__filters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 40px;
	justify-content: space-around;
}
.woocommerce-orders-table__filter {
	flex: 0 1 150px;
	border: 1px solid var(--bna-font-color);
	border-radius: 2px;
	height: 42px;
	line-height: 42px;
	font-weight: 700;	
	text-align: center;
	color: var(--bna-font-color);
	cursor: pointer;
}
.woocommerce-orders-table__filter:hover,
.woocommerce-orders-table__filter.filter-active {
	border: 1px solid var(--bna-button-background-color);
	color: var(--bna-button-background-color);
}
.woocommerce table.shop_table {
	border: none;
}
.woocommerce table.shop_table tr.woocommerce-orders-table__row td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.woocommerce table.shop_table tr.woocommerce-orders-table__row td:not(.woocommerce-orders-table__cell-order-actions) {
	text-align: center;
}
.woocommerce table.shop_table tr.woocommerce-orders-table__row td[data-title="Manage"]:not(.woocommerce-orders-table__cell-order-actions) {
	text-align: right;
}
.woocommerce table.shop_table td {
	border-top: 1px solid #CCC;
}
.woocommerce table.shop_table tr:last-child td {
	border-bottom: 1px solid #CCC;
}
button.wp-element-button {
	background-color: var(--bna-button-background-color);
	border-color: var(--bna-button-background-color);
	color: #FFF;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	width: 340px;
	max-width: 340px;
}
.woocommerce-orders-table a.wp-element-button {
	background-color: unset;
	color: var(--bna-button-background-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-decoration: underline;
	margin-bottom: 0px !important;
}
.woocommerce table.my_account_orders .woocommerce-orders-table__row a.bna-orders-order-link {
	color: var(--bna-button-background-color) !important;
}
.woocommerce table.my_account_orders .woocommerce-orders-table__row a.bna-orders-order-link:hover {
	opacity: 0.6;
}

/* My Address */
.woocommerce-account .woocommerce  .woocommerce-Addresses address {
	font-family: Roboto;
	font-style: normal;
	color: var(--bna-font-color);
}
.woocommerce-account .woocommerce  .woocommerce-Addresses a {
	color: var(--bna-button-background-color);
	text-decoration: underline;
	padding-top: 20px;
	display: block;
}
.woocommerce-account .woocommerce  .woocommerce-Addresses a:focus {
	outline: none;
}
@media (max-width: 1240px) {
	.woocommerce-account .woocommerce .col2-set .col-1,
	.woocommerce-account .woocommerce .col2-set .col-2 {
		float: none;
		width: 100%;
	}
	.woocommerce-account .woocommerce .woocommerce-customer-details .woocommerce-column {
		margin-top: 20px;
	}
}

/* bna-payment-method */
body.woocommerce-account .woocommerce .bna-subtitle {
	margin-top: 0px;
	margin-bottom: 60px;
}
body.woocommerce-account .woocommerce .bna-payment-method .bna-few-buttons-wrapper {
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: center;
}
body.woocommerce-account .woocommerce .bna-payment-method .bna-few-buttons-wrapper .bna-button.bna-button-flex {
	flex: 0 1 320px;
	/*width: auto;*/
}
@media (max-width: 560.98px) {
	body.woocommerce-account .woocommerce .bna-payment-method .bna-few-buttons-wrapper {
		flex-direction: column;
		flex-wrap: wrap;
	}
	body.woocommerce-account .woocommerce .bna-payment-method .bna-few-buttons-wrapper .bna-button.bna-button-flex {
		flex: 0 1 100%;
		align-self: center;
		width: 320px;
	}
}
body.woocommerce-account .woocommerce .bna-payment-method .bna-button-wrapper {
	margin-bottom: 60px;
}
body.woocommerce-account .woocommerce .bna-payment-method .bna-desc {
	margin-bottom: 30px;
}
body.woocommerce-account .woocommerce .bna-payment-method .method-img {
	height: 40px;
	width: auto;
	object-fit: cover;
}
body.woocommerce-account .woocommerce .bna-payment-method .btn-del-payment {
	color: var(--bna-button-background-color);
	text-decoration: underline;
	font-weight: 700;
	background-color: transparent;
	box-shadow: none;
	padding: 7px 18px 5px;
	margin: auto;
}
@media (max-width: 767.98px) {
	body.woocommerce-account .woocommerce .bna-payment-method .btn-del-payment {
		margin-right: 0px;
	}
}
body.woocommerce-checkout .woocommerce .bna-payment-method-eft,
body.woocommerce-checkout .woocommerce .bna-payment-method-cards  {
	padding-top: 30px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-eft .bna-input-wrapper,
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-input-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-input-wrapper {
	margin-top: 30px;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-inputs-wrapper .bna-input-label,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-input-label {
	margin-bottom: 10px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-eft .bna-two-inputs-wrapper,
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 30px;
	position: relative;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-eft .bna-two-inputs-wrapper .bna-input-wrapper,
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper .bna-input-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper .bna-input-wrapper {
	flex: 0 1 calc(50% - 15px);
	margin-top: 30px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	position: relative;
	padding-bottom: 10px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-input-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-input-wrapper {
	flex: 0 1 84px;
	margin-top: 30px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-CVC-text-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-CVC-text-wrapper {
	flex: 0 1 calc(100% - 84px - 236px - 40px);
	margin-top: 56px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-CVC-img-wrapper,
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-CVC-img-wrapper {
	flex: 0 1 236px;
	margin-top: 50px;
}
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-button-wrapper.bna-button-save-changes {
	position: absolute;
	bottom: 3px;
}
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-button-wrapper.bna-button-save-changes-two {
	margin-top: 20px;
}
body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper .bna-number-img-wrapper {
	margin-top: 60px;
	flex: 0 1 calc(50% - 15px);
}
@media (max-width: 767.98px) {
	body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-button-wrapper.bna-button-save-changes {
		bottom: -40px;
	}
}
@media (max-width: 575.98px) {
	body.woocommerce-checkout .woocommerce .bna-payment-method-eft .bna-two-inputs-wrapper .bna-input-wrapper,
	body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper .bna-input-wrapper,
	body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper .bna-input-wrapper {
		flex: 0 1 100%;
	}
	body.woocommerce-account .woocommerce .bna-payment-method-cards .bna-two-inputs-wrapper .bna-number-img-wrapper {
		flex: 0 1 100%;
	}
}
.bna-card-number-img {
	position: absolute;
	right: 10px;
	bottom: 13px;
}
.bna-card-number-img > img {
	width: auto;
	height: 20px;
	margin: 0px;
}

/* Cart */
body.woocommerce-cart .woocommerce form.woocommerce-cart-form {
	float: left;
	width: 65%;
	margin-bottom: 60px;
}
body.woocommerce-cart .woocommerce .cart-collaterals {
	float: right;
	width: 30%;
	margin-bottom: 60px;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	float: left;
	width: 225px;
}
@media (max-width: 991.98px) {
	body.woocommerce-cart .woocommerce form.woocommerce-cart-form {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	body.woocommerce-cart .woocommerce .cart-collaterals {
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
}
/* Checkout */
.woocommerce-page .woocommerce form.checkout .col2-set .col-1,
.woocommerce-page .woocommerce form.checkout .col2-set .col-2 {
	float: none;
	width: 100%;
}
body.woocommerce-checkout .woocommerce,
body.woocommerce-checkout .woocommerce .woocommerce-form-coupon-toggle,
.checkout_coupon.woocommerce-form-coupon,
.woocommerce .woocommerce-notices-wrapper,
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
	float: none;
	width: 100%;
}
body.woocommerce-checkout .woocommerce form.checkout,
body.woocommerce-checkout .woocommerce form#order_review {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 60px;
	align-items: flex-start;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-customer-details,
body.woocommerce-checkout .woocommerce form#order_review table.shop_table {
	flex: 0 1 40%;
	max-width: 40%;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review,
body.woocommerce-checkout .woocommerce form#order_review #payment {
	flex: 0 1 56%;
	max-width: 56%;
}
@media (max-width: 767.98px) {
	body.woocommerce-checkout .woocommerce form.checkout {
		flex-direction: column;
		margin-bottom: 40px;
	}
	body.woocommerce-checkout .woocommerce form.checkout .bna-customer-details,
	body.woocommerce-checkout .woocommerce form#order_review table.shop_table {
		flex: 0 1 100%;
		max-width: 100%;
	}
	body.woocommerce-checkout .woocommerce form.checkout .bna-order-review,
	body.woocommerce-checkout .woocommerce form#order_review #payment {
		flex: 0 1 100%;
		max-width: 100%;
	}
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review .bna-payment-method__item,
body.woocommerce-checkout .woocommerce form#order_review #payment .bna-payment-method__item {
	line-height: 90px;
	border-bottom: 2px solid #ccc;
	position: relative;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review .bna-payment-method__item:first-child,
body.woocommerce-checkout .woocommerce form#order_review #payment .bna-payment-method__item:first-child {
	border-top: 2px solid #ccc;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review .bna-checkout-images,
body.woocommerce-checkout .woocommerce form#order_review #payment .bna-checkout-images {
	display: inline-block;
	position: absolute;
	right: 20px;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review .bna-checkout-images img {
	width: auto;
	height: 44px;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review .bna-payment-method__content,
body.woocommerce-checkout .woocommerce form#order_review #payment .bna-payment-method__content {
	display: none;
	border-bottom: 2px solid var(--bna-line-color);
	padding: 30px 0px 40px 50px;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review .bna-payment-method__content-title,
body.woocommerce-checkout .woocommerce form#order_review #payment .bna-payment-method__content-title {
	padding-bottom: 10px;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review select.bna-checkout-select-card,
body.woocommerce-checkout .woocommerce form#order_review #payment select.bna-checkout-select-card {
	margin-bottom: 30px;
	padding: 0px 20px;
}
body.woocommerce-checkout .woocommerce form.checkout .bna-order-review #payment input.bna-input {
	margin: 0px;
	width: 100%;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-eft,
body.woocommerce-checkout .woocommerce .bna-recurring-cards,
body.woocommerce-checkout .woocommerce .bna-payment-method-cards {
	display: none;
    opacity: 0;
    transition: opacity 1s linear;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-eft.bna-active,
body.woocommerce-checkout .woocommerce .bna-recurring-cards.bna-active,
body.woocommerce-checkout .woocommerce .bna-payment-method-cards.bna-active {
	display: block;
    opacity: 1;
    transition: opacity 1s linear;
    padding-bottom: 2px;
}
body.woocommerce-checkout .woocommerce .bna-payment-method-cards .bna-three-inputs-wrapper .bna-CVC-text-wrapper {
	margin-top: 46px;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;	
	padding-bottom: 10px;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-input-wrapper {
	margin-top: 30px;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-label {
	flex: 0 1 100%;
	margin-top: 30px;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper {
	flex: 0 1 calc((100% - 40px) / 3);
	margin-top: 10px;
	position: relative;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper .bna-radio-button {
	position: absolute;
	height: 100%;
	opacity: 0;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper .bna-radio-button + span {
	border: 1px solid #CCC;
	padding: 10px;
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #CCC;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper .bna-radio-button + span:hover {
	border: 1px solid var(--bna-button-background-color);
	color: var(--bna-button-background-color);
	cursor: pointer;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper input:checked ~ span {
	border: 1px solid var(--bna-button-background-color);
	color: var(--bna-input-background-color);
	background: var(--bna-button-background-color);
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #setting_number_of_payment {
	text-align: center;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #setting_first_payment_date:disabled,
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #setting_number_of_payment:disabled,
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #qtyminus:disabled,
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #qtyplus:disabled {
	background: #eceff3;
	border-color: #eceff3;
	color: #a2a3a5;
	cursor: default;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #qtyminus,
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #qtyplus {
	position: absolute;
	top: 0px;
	border: 1px solid var(--bna-button-background-color);
	height: 100%;
	width: 40px;
	background: var(--bna-button-background-color);
	margin: 0px;
	color: var(--bna-input-background-color);
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-three-inputs-wrapper .bna-input-wrapper #qtyplus {
	right: 0px;
}
body.woocommerce-checkout .woocommerce .bna-recurring-cards .bna-input-wrapper #ssRepeat {
	opacity: 1;
	visibility: visible;
	width: 100%;
}
#checkmark_is_recurring,
#checkmark_save_customer {
	left: 20px;
}
body.woocommerce-checkout .woocommerce #bank_name {
	opacity: 1;
	visibility: visible;
}

/* myaccount form-edit-address */
.bna-address-copy {
	display: block;
	margin: 50px auto 30px;
}
.bna-address-copy_button {
	border: 1px solid var(--bna-button-background-color);
	background: var(--bna-input-background-color);
	color: var(--bna-button-background-color) !important;
	box-shadow: unset;
	font-size: 13px;
	padding: 10px;
	display: inline-block;
}
.bna-address-copy_span {
	font-size: 13px;
	padding-left: 10px;
	display: inline-block;
}

/* Transaction */
.img-transaction-type {
	margin: 0px 4px;
}
.img-transaction-type img {
	width: 40px;
}
@media (max-width: 767.98px) {
	.img-transaction-type {
		margin-left: auto;
	}
}
.bna-status-approved {
	color: #61b505 !important;
}
.bna-status-error,
.bna-status-declined {
	color: #de5474 !important;
}
.bna-status-pending,
.bna-status-canceled {
	color: #feb827 !important;
}

/* Subsciption */
.btn-del-subscription,
.btn-suspend-subscription {
	background-color: transparent;
	box-shadow: none;
	padding: 7px 18px 5px;
	display: inline-block;
}
.btn-show-desc {
	background-color: transparent;
	box-shadow: none;
	padding: 7px 18px 5px;
	display: inline-block;
}
.btn-subscription-deleted {
	background-color: transparent;
	box-shadow: none;
	padding: 7px 18px 5px;
	display: inline-block;
	cursor: unset;
}
.btn-subscription-deleted:hover {
	opacity: 1;
}
@media (max-width: 767.98px) {
	.btn-del-subscription {
		margin-right: 0px;
		margin-left: auto;
	}
}
.bna-status-suspended,
.bna-status-deleted,
.bna-status-expired {
	color: #de5474 !important;
}
.bna-status-new,
.bna-status-active {
	color: #61b505 !important;
}

 /* Privacy policy */
a.woocommerce-privacy-policy-link {
	color: var(--bna-button-background-color);
}
a.woocommerce-privacy-policy-link:hover {
	opacity: 0.6;
}

/*  */
.bna-delete-img {
	width: 22px;
	height: 22px;
}
.woocommerce-button.cancel .bna-delete-img {
	margin-left: 20px;
}

/* Credit card */
.hosted-field:focus {
	outline: none;
}
.invalid {
	color: red !important;
	border: 1px solid red !important;
}



/* General classes */
.woo-myaccount-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}
.woo-myaccount-text-small {
	font-size: 14px;
	line-height: 16.41px;
}
.woo-myaccount-text-medium {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.woo-myaccount-text-bigger {
	font-size: 24px;
	font-weight: 700;
	line-height: 28.13px;
}
.woo-myaccount-text-large {
	font-size: 40px;
	font-weight: 700;
	line-height: 46.88px;
}


.bna-font-italic {
	font-style: italic;
}
.bna-mt-60 {
	margin-top: 60px;
}
.bna-mb-10 {
	margin-bottom: 10px;
}
.bna-pos-relative {
	position: relative;
}

/* Old */
details summary::-webkit-details-marker {
	display: none
}
details > summary {
	list-style: none;
	font-weight:bold;
	cursor: pointer;
}
details summary:before {
	content: '\f0fe';
	font-family: "Font Awesome 5 free";
	margin-right: 7px;
}
details[open] summary:before {
	content: '\f146';
}

details.bna-details[open] summary::after {
  content: 'less...';
}

details.bna-details:not([open]) summary::after {
  content: 'more...';
}

div.bna-details {
	display: none
}
h6.bna-details-title {
	list-style: none;
	font-weight:bold;
	cursor: pointer;
	color: var(--bna-font-color);
	text-align: center;
}
h6.bna-details-title:before {
	content: '\f0fe';
	font-family: "Font Awesome 5 free";
	margin-right: 7px;
}
h6.bna-details-title.open:before {
	content: '\f146';
}

h6.bna-details-title.open::after {
  content: 'less...';
}

h6.bna-details-title::after {
  content: 'more...';
}

/* Confirm Box */
#confirm-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	background: rgba( 204, 204, 204, 0.6 );
	display: none;
	transition: opacity 1s ease-in;
}
#confirm-box {
	width: 300px;
	background: #fff;
	min-height: 220px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
}
#confirm-buttons {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	padding-bottom: 1em;
}
#confirm-buttons button {
	display: inline-block;
	background: transparent;
	color: var(--bna-button-background-color) !important;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	border: 2px solid;
	margin: 0 0.5em;
	padding: 0.6em 0;
	width: 120px;
	box-shadow: none;
}
#confirm-header {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 2.5em 0 1.5em 0;
	line-height: 1.3em;
}
#confirm-header:after {
	content: ' ';
	display: block;
	width: 1em;
	border-top: 1px solid;
	margin: 0.4em auto;
}

/* Desc Box */
#bna-desc-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	background: rgba( 204, 204, 204, 0.6 );
	display: none;
	transition: opacity 1s ease-in;
}
#bna-desc-box {
	width: 520px;
	background: #fff;
	min-height: 420px;
	position: absolute;
	top: calc( (100% - 420px) / 2);
	left: calc( (100% - 520px) / 2);
}
#bna-desc-body {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px;
}
#bna-desc-box button {
	display: inline-block;
	background: transparent;
	color: var(--bna-button-background-color) !important;
	font-weight: normal;
	font-size: 30px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	margin: 0px;
	padding: 0px;
	box-shadow: none;	
	rotate: -46deg;
	position: absolute;
	right: 15px;
	top: 15px;
}
#bna-desc-header {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 2.5em 0 1.5em 0;
	line-height: 1.3em;
}
#bna-desc-header:after {
	content: ' ';
	display: block;
	width: 1em;
	border-top: 1px solid;
	margin: 0.4em auto;
}
#bna-desc-body > p {
	display: flex;
}
#bna-desc-body .bna-desc-p-name {
	flex: 0 1 150px;
}
#bna-desc-body .bna-desc-p-value {
	flex: 0 1 330px;
	font-style: italic;
}
@media (max-width: 540.98px) {
	#bna-desc-box {
		max-width: 320px;
		min-height: 520px;
		top: calc( (100% - 520px) / 2);
		left: calc( (100% - 320px) / 2);
	}
	#bna-desc-body > p {
		flex-wrap: wrap;
	}
}
